@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 17 17 17;
  }

  body {
    color: rgb(var(--foreground));
    background: rgb(var(--background));
    font-family: var(--font-inter), sans-serif;
  }
}

@layer utilities {
  .border-grid {
    @apply border-b border-r border-corporate-border;
  }
}