.header {
  background-color: #3E0D64;
  color: white;
  padding: 1rem 2rem;
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoArea {
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
}

.clima {
  font-size: 0.75rem;
  color: #ccc;
  line-height: 1;
}

.navLinks {
  display: flex;
  gap: 1.5rem;
}

.navLinks a {
  font-size: 0.75rem;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.navLinks a:hover {
  color: #b7b7ff;
  text-decoration: underline;
}

.cursor {
  animation: blink 1s step-end infinite;
  color: white;
  margin-left: 2px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
